<section class="faq-section">
    <div class="faq-header">
      <div class="faq-title">FAQ</div>
      <h2 class="faq-heading">
        Frequently asked <mark class="highlight">questions</mark>
      </h2>
    </div>
  

    <div class="faq-content">
      <div class="faq-item">
        <details>
          <summary>
            I'm taking this route for the first time – what fare should I offer?
            <span class="faq-icon"><img src="/assets/img/icon/expand.png" alt="Expand"></span>
          </summary>
          <p>
            Try a fare 20% lower than other ride-hailing services. That's usually how much you save with E-ride. If your offer's too low, we'll let you know. In some areas, the app recommends a fare based on your route.
          </p>
        </details>
      </div>
  
      <div class="faq-item">
        <details>
          <summary>
            How are passenger ratings calculated?
            <span class="faq-icon"><img src="/assets/img/icon/expand.png"  alt="Expand"></span>
          </summary>
          <p>
            Ratings are based on ride history. Fake orders, complaints, and unpaid rides can all lower ratings.
          </p>
        </details>
      </div>
  
      <div class="faq-item">
        <details>
          <summary>
            How do I order a ride with a child seat?
            <span class="faq-icon"><img src="/assets/img/icon/expand.png"  alt="Expand"></span>
          </summary>
          <p>
            Before your ride, tap Options in the app. Select Child seat. In the comments, add how many passengers need child seats. Only drivers with the right seats will respond.
          </p>
        </details>
      </div>
  
      <div class="faq-item">
        <details>
          <summary>
            How do I delete my account?
            <span class="faq-icon"><img src="/assets/img/icon/expand.png"  alt="Expand"></span>
          </summary>
          <p>
            In the app: In the side menu tap Settings. At the bottom, tap 'Delete my account'. <br>
            On the web:
            <ol>
              <li>Go to the <a href="/delete-account">delete account page</a></li>
              <li>Enter your E-ride account's registered phone number, and click Get code</li>
              <li>Enter the verification code that's sent to your phone</li>
              <li>Fill out the request form to delete your account.</li>
            </ol>
            Please check your account has no open issues and isn't blocked. Still need help? <a routerLink="contact">Contact support</a>.<br>
            Deleted accounts can't be restored. We keep some data for security purposes, including fraud prevention. Learn more in our <a href="/legal?doc=privacyPolicy">Privacy Policy</a>.
          
        </details>
      </div>
    </div>
  </section>
  