<nav id="sidebar" [class.active]="isSidebarActive" class="bg-light">
    <div class="p-3">
      <ul class="list-unstyled components">
        <li>
          <a routerLink="/vendor-management" routerLinkActive="active">Vendor Management</a>
        </li>
        <li>
          <a routerLink="/menu-approved" routerLinkActive="active">Menu Approved</a>
        </li>
        <li>
          <a routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active">Settings</a>
        </li>
      </ul>
    </div>
  </nav>
  