<div class="container mt-4">
  <div class="row">
    <!-- Main Content -->
    <div class="col-md-8">
      <h2 class="text-center">Checkout</h2>

      <!-- Empty Cart Message -->
      <div *ngIf="cartItems.length === 0" class="text-center">
        <p>Your cart is empty.</p>
      </div>

      <!-- Cart Items Table -->
      <div *ngIf="cartItems.length > 0" class="table-responsive">
        <table class="table table-bordered shadow-sm">
          <thead>
        
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>{{ item.name }}</td>
              <td>${{ item.price }}</td>
              <td>
                <button
                  class="btn btn-outline-secondary btn-sm"
                  (click)="decreaseQuantity(item)"
                >
                  -
                </button>
                <span class="mx-2">{{ item.quantity }}</span>
                <button
                  class="btn btn-outline-secondary btn-sm"
                  (click)="increaseQuantity(item)"
                >
                  +
                </button>
              </td>
              <td>${{ item.price * item.quantity }}</td>
             
            </tr>
          </tbody>
        </table>
      </div>

      
      <!-- Other Components -->
      <div>
        <div class="component-container mx-auto my-4 p-3 shadow border rounded bg-light">
          <app-gifts (recipientData)="setRecipient($event)"></app-gifts>
        </div>
        <div class="component-container mx-auto my-4 p-3 shadow border rounded bg-light">
          <app-store-item-page  (addressUpdated)="setAddress($event)"></app-store-item-page>
        </div>
        <div class="component-container mx-auto my-4 p-3 shadow border rounded bg-light">
          <app-stripe-payments   (paymentMethodUpdated)="updatePaymentMethod($event)"></app-stripe-payments>
        </div>

        <!-- Order Summary for Small Screens -->
        <div class="d-md-none mt-4 p-3 bg-white shadow zigzag-border">
          <app-order-summary [cartItems]="cartItems"
          [cartItems]="cartItems"
          [totalPrice]="totalPrice"
          [isOrderValid]="isOrderValid()"
          (confirmOrderEvent)="confirmOrder()"></app-order-summary>
        </div>
      </div>
    </div>

    <!-- Fixed Order Summary for Larger Screens -->
    <div class="col-md-4 d-none d-md-block">
      <div class="sticky-summary p-3 bg-white shadow zigzag-border">
        <app-order-summary [cartItems]="cartItems"
        [cartItems]="cartItems"
        [totalPrice]="totalPrice"
        [isOrderValid]="isOrderValid()"
        (confirmOrderEvent)="confirmOrder()"></app-order-summary>
      </div>
    </div>
  </div>
</div>
