<div class="   container">
    <div class="context">
     

     <div class="hero-text">
   
     <ul class="tw-flex tw-flex-col tw-gap-6 md:tw-gap-7">
      <li *ngFor="let step of steps" class="tw-flex tw-gap-4 md:tw-gap-6 tw-items-start">
        <img [src]="step.icon" alt="" class="ild0fcm">
        <span>
          <h5 class="tw-pb-1 md:tw-pb-2 tw-text-xl tw-font-bold tw-font-agrandir md:tw-text-3xl">
            {{ step.title }}
          </h5>
          <p class="tw-text-sm tw-font-semibold md:tw-text-base t6j7qf2">
            {{ step.description }}
          </p>
        </span>
      </li>
    </ul>
    
     </div>
  </div>
      
     <div class="content">
     <div class="banner">
      <div class="c7kd73c c1bqjjbk">
         <div class="i1tp2sye">
           <img 
             [src]="imageSrc"
             alt="Ride Image"
             loading="lazy"
             decoding="async"
             class="responsive-image"
           />
         </div>
       </div>
       
     </div>
  </div>

</div>



