<!-- Default Header -->
<header class="header" >
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo" id="logo-container">
                    <a href="#"><img src="assets/img/logo.png" alt="" id="logo"></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu" [ngClass]="{'show-menu': isMenuOpen}">
                    <ul>

                        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
                        <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                        <li><a routerLink="/contact" routerLinkActive="active">Contact us</a></li>
                    </ul>
                </nav>
            </div>
           
        </div>
        <button class="mobile-menu-toggle" *ngIf="isResponsive" (click)="toggleMenu()">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </div>
</header>